@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

html{
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Outfit", monospace, sans-serif; 
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding-top: 1rem;
}

nav{
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-profile{
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

a{
    color: #860000;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}
a:hover, a:focus-visible{
    text-decoration: dotted underline;
    text-decoration-thickness: 2px;
    outline: none;
}

.text-block{
    margin: 0 auto;
    min-width: 58ch;
    max-width: 100%;
}

li{
    margin-bottom: .33rem;
}

ul > li{
    a:hover::after, a:focus-visible::after{
        position: absolute;
        content:"←";
        animation: 750ms ease-out 0s infinite alternate arrow-slide;
    }
}

@keyframes arrow-slide {
  from {
    transform: translateX(.33rem);
  }
  to {
    transform: translateX(1rem);
  }
}

.text{
    font-family: 'Rokkitt';
}